
html{
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(152, 224, 177);
}
a {
  text-decoration: none;
}
p{
  color: black;
  text-align: center;
}

.img{
  width: 400px;
  height: 200px;
  display: flex;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 50px;
}

.cbtis {
  width: 250px;
  height: 200px;
  padding: 15px;
}

.Game {
  margin-top: 15px;
  transition: .5s ease all;
}

.Game:hover {
  background: #31313a;
  border: 2px solid #ccc;
}

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  background-image: url("src/images/Tierra.webp");
  background-repeat: no-repeat;
  background-size: 1550px 700px;
}

.hero h1 {
  font-size: 150px;
  color: rgb(0, 132, 0);
  text-align: center;
}

.Welcome {
  color: rgb(51, 167, 51);
  font-size: 80px;
}

h1{
  color: rgb(14, 57, 28);
  text-align: center;
}

.Escuela{
  color:rgb(57, 93, 69);  
  font-weight: 700;
}

.Escuela:hover {
    color: #00541e;
}

.us {
  padding: 10px;
  color: #31313a;
}

.us-names {
  color: #26262a;
  list-style-type: none;
}

.Nombre {
  background: rgb(64, 192, 109);
  width: 300px;
  height: 40px;
  border: 1px solid rgb(52, 153, 87);
  border-radius: 10px;
  margin: 5px;
  transition: .5s ease all;

  display: flex;
  align-items: center;
}

.Nombre:hover {
  background: rgb(74, 222, 126);
  color: rgb(31, 113, 60);;
}

.hero p {
  font-size: 80px;
  text-transform: uppercase;
  color: green;
}

nav{
  background: rgb(42, 176, 89);
  width: 100%;
  height: 80px;
  box-shadow: rgba(149, 157, 165, 0.2)0px 8px 24px;
  display: flex;
  /* esto se realiza para dejar pegadas las secciones y no desaparescan*/
  position: sticky;
  top: 0;
  /*esto evita que se recorran pixeles la secciones esta funcion lo oculta */
  overflow: hidden;
}

/*accede a cada uno de las secciones para separarlas*/
nav a{
  flex: 1;
  height: 100%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(14, 57, 28);
  transition: .6s ease-in-out all;
  font-weight: 500;
}

.unity-h3 {
  color: #26262a;
  font-size: 45px;
  margin: 20px;
}

.text-unity {
  color: black;
  font-size: 14px;
  font-weight: 100;
  text-align: justify;
}

.Unity-images {
  margin: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.next {
  width: 60px;
  height: 60px;
  background: #7a7a7a7e;
  border-radius: 0%;
  transition: .5 ease all;
}

.next:hover {
  background: #8f8c8c86;
}

.img-next {
  width: 100%;
  height: 100%;
}

.seccion {
  min-height: 100vh;
  max-width: 800px;
  width: 90%;
  margin: auto;

  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seccion .ca {
  background: rgb(129, 228, 164);
  height: 90%;
  padding: 40px;
  border-radius: 15px;
  box-shadow: rgba(111, 137, 115, 0.427) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Registro {
  background: rgb(129, 228, 164);
  height: 90%;
  padding: 40px;
  border-radius: 15px;
  box-shadow: rgba(111, 137, 115, 0.427) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.R-title {
  margin-bottom: 15px;
}

.Registro .Entrada {
  width: 300px;
  height: 30px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 0px;
  background: #82ba8e;
  color: #26262a;
  font-weight: 600;
}

.Eco-Text {
  text-align: justify;
}

nav a:hover{
  background: #76ca89;
  color: #00541e;
}
/*para tener una barras que indica la seccion */
nav.indicador{
  width: 0px;
height: 7px;
background: #113cfc;
position: absolute;
bottom: 0;
transition: .3s ease-out all;
/* transform: translate(-500px); */
}
/*esto sirve para adaptar el tamño de la ventana cuando se accede desde diferentes dispositivos*/
@media  screen and (max-width: 800px) {
  nav a{
      font-size: 14px;
      padding: 4px;
  }
}
@media screen and (max-width: 800px) {
  nav a{
      font-size: 12px;
      
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
